@model Website.Models.DanceInfo
@{
    var description = new MvcHtmlString(Model.LongDescription);
}
<div class="container margin-bottom-30">
    <div class="headline"><h2>@Model.Name</h2></div>
    <div class="row">
        <div class="thumbnail-img col-md-4">
            <div class="overflow-hidden">
                <img class="img-responsive" src="@Model.ImagePath" alt="@Model.Name">
            </div>
        </div>
        <div class="col-md-8">
            <h3>The story of @Model.Name</h3>

            <p>@description</p>

            <h3>The music of @Model.Name</h3>
            <audio controls="controls" preload="none">
                <source src="@Model.AudioPath" type="audio/mpeg" />
            </audio>
            <p>@Model.AudioDescription</p>

            <h3>The dance of @Model.Name</h3>
            <div class="video-container">
                <iframe src="http://www.youtube.com/embed/@Model.YouTube" frameborder="0" width="560" height="315"></iframe>
            </div>
        </div>
    </div>
</div>