@{
    var dances = Website.Models.DanceInfoRepository.Dances.Select(p => p.Name).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bolivia Marka Dance Group</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">

    @Styles.Render("~/bundles/css")
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li class="@Html.IsSelected(controller: "Home")">
                                <a href="/">
                                    Home
                                </a>
                            </li>
                            <li class="@Html.IsSelected(controller: "About")">
                                <a href="/About">
                                    About
                                </a>
                            </li>
                            <li class="@Html.IsSelected(controller: "Dances") dropdown">
                                <a href="/Dances">
                                    Dances
                                </a>
                                <ul class="dropdown-menu">
                                    @foreach (var dance in dances)
                                    {
                                        <li>@Html.ActionLink(dance, "Info", "Dances", new { dance = dance }, null)</li>
                                    }
                                </ul>
                            </li>
                            <li class="@Html.IsSelected(controller: "History")">
                                <a href="/History">
                                    History
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="tp-banner-container margin-bottom-10">
            <div class="tp-banner">
                <ul>
                    @{
                        var list = new[]
                            {
                                "/assets/img/dances/caporales.jpg",
                                "/assets/img/dances/tobas1.jpg",
                                "/assets/img/dances/parade1.jpg",
                                "/assets/img/dances/diablada.jpg",
                                "/assets/img/dances/morenada2.jpg",
                            };
                    }
                    @foreach (string item in list)
                    {
                        <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000">
                            <img src="@item" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                            <div class="tp-caption revolution-ch1 sft start"
                                 data-x="center"
                                 data-hoffset="0"
                                 data-y="10"
                                 data-speed="1500"
                                 data-start="500"
                                 data-easing="Back.easeInOut"
                                 data-endeasing="Power1.easeIn"
                                 data-endspeed="300">
                                <span style="color: red;">Bolivia</span>
                                <span style="color: yellow;">Marka</span>
                                <span style="color: limegreen;">Dancers</span>
                            </div>

                            <div class="tp-caption revolution-ch2 sft"
                                 data-x="center"
                                 data-hoffset="0"
                                 data-y="350"
                                 data-speed="1400"
                                 data-start="2000"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off"
                                 style="z-index: 6">
                                Authentic Bolivian Dance Styles<br />
                                from the Andes of South America
                            </div>
                        </li>
                    }
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
        @RenderBody()
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="headline"><h2>Book for your event</h2></div>
                        <p class="md-margin-bottom-40">
                            Bolivia Marka can do performances ranging from small events through to large latin festivals.
                        </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="headline"><h2>Contact Us</h2></div>
                        <address class="md-margin-bottom-40">
                            Contact: Jaime Moscoso<br />
                            Phone: 04.. ... ...
                        </address>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="headline"><h2>Stay Connected</h2></div>
                        <ul class="social-icons">
                            <li><a href="https://twitter.com/search?f=realtime&q=%23boliviamarka" data-original-title="Feed" class="social_twitter"></a></li>
                            <li><a href="https://facebook.com/BoliviaMarka" data-original-title="Facebook" class="social_facebook"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            2014 &copy; Bolivia Marka.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/revolution")

    <!-- JS Page Level -->
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="~/assets/js/index.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            Index.initRevolutionSlider();
        });
    </script>

    @RenderSection("scripts", false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-55909360-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>